.jumbotron {
  margin-top: 55px;
}
.cards .card-hotel {
  flex: 1 200px;
}
.footer {
  padding: 10px 10px 0px 10px;
  background-color: #fffa19;
  margin-top: 20px;
  margin-bottom: 0px;
}
.footer-icon {
  padding-right: 10px;
}
.tabla-precios {
  padding-top: 50px;
  padding-bottom: 20px;
}
